body {
  background-color: #222222; 
  color: #f0f0f0;
  font-family: Helvetica, Arial, sans-serif; 
}

/* General Styles */
.container {
  width: 95%; /* Allow containers to take up most of the screen width  */
  max-width: 500px; /* Optional: Set a maximum width for larger screens */
  margin: 30px auto;
  text-align: center;
  background-color: #333333; 
  padding: 10px;       
  border-radius: 8px;  
}

/* Styles for Smaller Screens (Phones) */
@media only screen and (max-width: 600px) { /* Adjust breakpoint as needed */
  .container {
     max-width: 100vw; /* Maximum width of 100% viewport width */
   }

  #explanation {
    font-size: 14px; /* Smaller text for better readability */
  }
}



input[type="text"] {
  margin-bottom: 10px;
  padding: 10px;
  width: 200px;
  border: none;         
  background-color: #444444; 
  color: #f0f0f0;    
  border-radius: 5px;  
  font-size: 20px; 
}

.button-group {
  display: flex;           /* Enable flexbox */
  justify-content: center; /* Center the buttons horizontally */
  margin-top: 10px;        /* Add some space above the buttons */
}


#Button { 
  display: block;       
  margin: 20px auto 0 auto; 
  padding: 10px 20px;   
  background-color: #007bff; 
  color: white;
  border: none;
  border-radius: 5px;    
  cursor: pointer;    
}

#ChallengeButton { 
  display: block;       
  margin: 20px auto 0 auto; 
  padding: 10px 20px;   
  background-color: #28a745; 
  color: white;
  border: none;
  border-radius: 5px;    
  cursor: pointer;    
}

#explanation {
  margin: 30px;
}

#result {
  margin-top: 20px;
  font-size: 20px;
}

#staticresult {
  font-size: 25px;
}

#result {
  margin-top: 20px;
  font-size: 20px;
}
