body {
  background-color: #222222; 
  color: #f0f0f0;
  font-family: Helvetica, Arial, sans-serif; 
}

.container {
  width: 500px;
  margin: 30px auto;
  text-align: center;
  background-color: #333333; 
  padding: 20px;      
  border-radius: 8px;   
}

input[type="text"] {
  margin-bottom: 10px;
  padding: 10px;
  width: 200px;
  border: none;         
  background-color: #444444; 
  color: #f0f0f0;    
  border-radius: 5px;   
}

#Button { 
  display: block;       
  margin: 20px auto 0 auto; 
  padding: 10px 20px;   
  background-color: #007bff; 
  color: white;
  border: none;
  border-radius: 5px;    
  cursor: pointer;    
}

#explanation {
  margin: 30px;
}

#result {
  margin-top: 20px;
  font-size: 20px;
}

#staticresult {
  font-size: 25px;
}

#result {
  margin-top: 20px;
  font-size: 20px;
}
